services:
  backend:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: #WRITE 
    container_name: task-manager-app-robinFood
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: 1610
      DB_NAME: task-management
      PORT: 3000
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/api/tasks"]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    image: postgres:14-alpine
    container_name: task-robinFood-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1610
      POSTGRES_DB: task-management
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
