version: '3.8'

services:
  # ------------------------------------
  # 1.(NestJS)
  # ------------------------------------
  backend:
    build:
      context: ./backend     
      dockerfile: Dockerfile
    image: moaaz20/task-manager-backend:latest  
    container_name: task-manager-api
    ports:
      - "3000:3000"          
    environment:
      DB_HOST: ${DB_HOST} 
      DB_PORT: 5432
      DB_USERNAME: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}       
      DB_NAME: ${POSTGRES_DB}
      PORT: 3000
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/api/tasks"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ------------------------------------
  # 2.(Postgres)
  # ------------------------------------
  db:
    image: postgres:14-alpine
    container_name: task-manager-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ------------------------------------
  # 3.(React + Nginx)
  # ------------------------------------
  frontend:
    build:
      context: ./frontend     
      dockerfile: Dockerfile  
    image: moaaz20/task-manager-frontend:latest
    container_name: task-manager-ui
    ports:
      - "80:80"             
    depends_on:
      - backend               
    restart: on-failure

volumes:
  postgres_data: